
/* #70e05c,#01345b,#ff9843 vert,bleu,orange
 #333
*/
/* Styles pour le corps de la page */
div{
    padding-bottom: 150px;
    padding-left: 90px;
    padding-right: 90px;
}



body {
    margin-top: 10%;
    padding: 0;
    font-family: Biryani, sans-serif;
}

/* Styles pour l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 97%;
    margin-right: 2%;
}

/* Styles pour le logo ou le nom dans l'en-tête */
header h1 {
    margin: 0;
    font-size: 24px;
}

/* Styles pour la navigation dans l'en-tête */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour les sections principales */
main {
    margin: 20px;
}

section {
    margin-bottom: 300px;
}

section h2 {
    margin: 0;
    font-size: 24px;
}

/* Styles pour les liens vers les projets */
.project-link {
    display: inline-block;
    margin-right: 10px;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

p{
    font-family: Montserrat, sans-serif;
    display: flex;

}

#centre{
    justify-content: center;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 40%;
}

img{
    width: 100px;
}

.jsBlur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.jsBlur a{
    position: absolute;
    margin-top: 3%;
    margin-left: -8.5%;
    margin-right: 8%;
    text-decoration: none;
}

.imgProjet{
    width: 70%;
}
.special{
    width: 100px;
    display: flex;
}

iframe{
    height: 600px;
    width: 80%;
}

#test{
    display: flex;
    justify-content: center;
}

.padding{
    padding-left: 5px;
}

button {
    margin: 5%;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 3px solid #333;
    box-shadow: 0 0 0 0 #333;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #333;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #333;
}

/*.column{}*/

